      <div class="row icons">
        <div class="icongrid col-lg-1"><span class="icon">A</span></div>
        <div class="icongrid col-lg-1"><span class="icon">B</span></div>
        <div class="icongrid col-lg-1"><span class="icon">C</span></div>
        <div class="icongrid col-lg-5">
          <header>
            <h1>Get Weathericos</h1>
          </header>
        </div>
        <div class="icongrid col-lg-1"><span class="icon">D</span></div>
        <div class="icongrid col-lg-1"><span class="icon">E</span></div>
        <div class="icongrid col-lg-1"><span class="icon">F</span></div>
        <div class="icongrid col-lg-1"><span class="icon">G</span></div>
        <div class="icongrid col-lg-1"><span class="icon">H</span></div>
        <div class="icongrid col-lg-1"><span class="icon">I</span></div>
        <div class="icongrid col-lg-1"><span class="icon">J</span></div>
        <div class="icongrid col-lg-1"><span class="icon">K</span></div>
        <div class="icongrid col-lg-1"><span class="icon">L</span></div>
        <div class="icongrid col-lg-1"><span class="icon">M</span></div>
        <div class="icongrid col-lg-1"><span class="icon">N</span></div>
        <div class="icongrid col-lg-1"><span class="icon">O</span></div>
        <div class="icongrid col-lg-1"><span class="icon">P</span></div>
        <div class="icongrid col-lg-1"><span class="icon">Q</span></div>
        <div class="icongrid col-lg-1"><span class="icon">R</span></div>
        <div class="icongrid col-lg-1"><span class="icon">S</span></div>
        <div class="icongrid col-lg-1"><span class="icon">T</span></div>
        <div class="icongrid col-lg-5 cta">
          <div class="jumbotron">
            <p class="lead icon">B</p>
            <p><%= link_to "Download Now", download_path, class: "btn btn-default btn-lg" %></p>
          </div>
        </div>
        <div class="icongrid col-lg-1"><span class="icon">A</span></div>
        <div class="icongrid col-lg-1"><span class="icon">B</span></div>
        <div class="icongrid col-lg-1"><span class="icon">C</span></div>
        <div class="icongrid col-lg-1"><span class="icon">D</span></div>
        <div class="icongrid col-lg-1"><span class="icon">E</span></div>
        <div class="icongrid col-lg-1"><span class="icon">F</span></div>
        <div class="icongrid col-lg-1"><span class="icon">G</span></div>
        <div class="icongrid col-lg-1"><span class="icon">H</span></div>
        <div class="icongrid col-lg-1"><span class="icon">I</span></div>
        <div class="icongrid col-lg-1"><span class="icon">J</span></div>
        <div class="icongrid col-lg-1"><span class="icon">K</span></div>
        <div class="icongrid col-lg-1"><span class="icon">L</span></div>
        <div class="icongrid col-lg-1"><span class="icon">M</span></div>
        <div class="icongrid col-lg-1"><span class="icon">N</span></div>
        <div class="icongrid col-lg-1"><span class="icon">U</span></div>
        <div class="icongrid col-lg-1"><span class="icon">V</span></div>
        <div class="icongrid col-lg-1"><span class="icon">W</span></div>
        <div class="icongrid col-lg-1"><span class="icon">X</span></div>
        <div class="icongrid col-lg-1"><span class="icon">Y</span></div>
        <div class="icongrid col-lg-1"><span class="icon">Z</span></div>
        <div class="icongrid col-lg-1"><span class="icon">A</span></div>
        <div class="icongrid col-lg-1"><span class="icon">B</span></div>
        <div class="icongrid col-lg-1"><span class="icon">C</span></div>
        <div class="icongrid col-lg-1"><span class="icon">D</span></div>
        <div class="icongrid col-lg-1"><span class="icon">E</span></div>
        <div class="icongrid col-lg-1"><span class="icon">F</span></div>
        <div class="icongrid col-lg-1"><span class="icon">G</span></div>
        <div class="icongrid col-lg-1"><span class="icon">H</span></div>
        <div class="icongrid col-lg-1"><span class="icon">I</span></div>
        <div class="icongrid col-lg-1"><span class="icon">J</span></div>
        <div class="icongrid col-lg-1"><span class="icon">K</span></div>
        <div class="icongrid col-lg-1"><span class="icon">L</span></div>
        <div class="icongrid col-lg-1"><span class="icon"></span></div>
        <div class="icongrid col-lg-1"><span class="icon"></span></div>
        <div class="icongrid col-lg-1"><span class="icon"></span></div>
        <div class="icongrid col-lg-5">
          <footer>
              <span class="creative-commons icon">&#169;&#174;</span>
              <h4>License Information</h4>
              <p><strong>Weather Icons</strong> Set is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
          </footer>
        </div>
      </div>