@font-face {
    font-family: 'weather_typesregular';
    src: url('/assets/weathericons-webfont.eot');
    src: url('/assets/weathericons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/weathericons-webfont.woff') format('woff'),
         url('/assets/weathericons-webfont.ttf') format('truetype'),
         url('/assets/weathericons-webfont.svg#weather_typesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}